[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
pillow = "*"
bootstrap4 = "*"
django-bootstrap4 = "*"
psycopg2-binary = "*"
cloudinary = "*"
django-registration = "*"
gunicorn = "*"
django-heroku = "*"
whitenoise = "*"
python-decouple = "*"
coverage = "*"

[dev-packages]

[requires]
python_version = "3.8"
